@import '/src/styles/vars';

.c_login {
  gap: $gap;
  display: grid;
  align-items: flex-start;
  grid-auto-rows: min-content;

  h1 {
    text-align: center;
  }

  .c_form {
    @include form;
  }
}
