@import '/src/styles/vars';

.navbar {
  padding: $pad;
  background: $blue;
  gap: $gap;
  display: grid;
  grid-template-columns: 1fr min-content;
  height: min-content;

  .c_title {
    white-space: nowrap;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-self: left;
    z-index: 100;

    .title {
      font-size: 2rem;
      font-style: italic;
      color: $white;
      text-decoration: none;

      @media screen and (max-width: 768px) {
        font-size: 1.15rem;
      }
    }
  }

  .hamburger {
    &.fake {
      visibility: hidden;
    }

    @media screen and (min-width: 769px) {
      display: none;
    }

    @media screen and (max-width: 768px) {
      display: grid;
      z-index: 10;
      width: 40px;
      height: 40px;
      align-content: space-around;

      div {
        border: solid 2px transparent;
        background: $green;
      }
    }
  }

  .c_elements {
    display: grid;
    gap: $gap;

    @media screen and (min-width: 769px) {
      grid-auto-columns: min-content;
      grid-auto-flow: column;
      justify-self: left;

      a {
        @include button;
      }
    }

    @media screen and (max-width: 768px) {
      position: absolute;
      z-index: 2;
      grid-auto-rows: min-content;
      border-radius: 0px 0px 0px 10px;
      overflow: hidden;
      background: $blue;

      inset: 0;

      transition: ease-in-out width 300ms;

      &.opened {
        padding: $pad;
        width: 70%;
      }

      &.closed {
        padding: $pad 0;
        width: 0%;
      }

      a {
        &:first-of-type {
          margin-top: $pad;
        }

        @include button;
      }
    }

    .active {
      background: gray;
      color: $white;
    }
  }
}
