@import '/src/styles/vars';

.c_signup {
  gap: $gap;

  h1 {
    text-align: center;
  }

  .c_form {
    @include form;

    margin: 0 !important;
    align-items: center;

    @media screen and (min-width: 769px) {
      grid-template-columns: repeat(2, 1fr);

      button {
        grid-column: span 2;
      }
    }

    div {
      display: grid;
      gap: $gap;
    }

    input:disabled {
      color: $white;
    }
  }
}
